@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
   background-color: #f5f7fa;
   height: 98vh;
   width: 100%;
   font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
  height: 44px;
}

.navbar i {
  font-size: 1.5rem;
  color: #dadfe6;
}

.navbar i:nth-child(2) {
  color: #fe466d;
}


/* photo and actions */

.photo-and-actions {
  display: flex;
  align-items: flex-end;
  height: calc(100vh - 44px);
  background: url('../IMAGE/mulher.jpg') center center/cover;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.7);
  
  
}

/* photo */

.photo {
  width: 100vw;
  height: 52%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #eeee;
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(35, 34, 65, 0) 0%,
    rgba(0, 0, 0, 0.7) 52%
    );
    padding: 15px;
  
}



.photo-name-and-age {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 1.4rem;
}

.photo-name-and-age h2:nth-child(2) {
  margin-left: 1rem;
  font-weight: 500;
}

.photo-bio {
  line-height: 1.7rem;
  font-size: 1.1rem;
  font-weight: 500;
  
}

/* Actions */

.actions {
  display: flex;
  align-self: center;
  margin: 0.3rem 0;
}

.action {
  margin: 0 0.4rem;
  box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  transition: transform 500ms ease;
}

.action:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.actions .action:nth-child(1) {
  color: #fe9b2b;
  font-size: 1rem;
  height: 48px;
  width: 48px;
  border: 1px solid #fe9b2b;
  

}

.actions .action:nth-child(2) {
  color: #ff2d2d;
  font-size: 1.5rem;
  height: 48px;
  width: 48px;
  border: 1px solid #ff2d2d;
  
}

.actions .action:nth-child(3) {
  color: #33eafe;
  font-size: 1.5rem;
  height: 48px;
  width: 48px;
  border: 1px solid #33eafe;
}


.actions .action:nth-child(4) {
  color: #eeee;
  margin: -8px 0.4rem;
  font-size: 1.5rem;
  height: 60px;
  width: 60px;
  background-image: linear-gradient(45deg,rgb(0, 172, 74), rgb(138, 251, 219));
}


.actions .action:nth-child(5) {
  color: #8522ee;
  font-size: 1.5rem;
  height: 48px;
  width: 48px;
  border: 1px solid #8522ee;
}


/* small devices view */

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .photo-and-actions {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  .actions {
    margin: 0;
  }

  .photo {
    height: auto;
  }

  .photo-text {
    margin: 15px 0px;
  }
  
}

/* desktop view */

@media(min-width: 1025px) {

.navbar {
    width: 400px;
    margin: auto;
  }


  .photo-and-actions {
    width: 40%;
    margin: 0 auto 10px auto;
    display: flex;
    align-items: flex-end;
    height: calc(98vh - 44px);
  }

 .photo {
  height: auto;
  border-radius: 10px;
 }

 .photo-text {
  margin: 10px 0px;
}

}